.layy{  
 background-color: #BFC9CA;
  list-style: none;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;
  width: 1040px;
  padding-left: 280px;
}

.layy li{
	display: inline-block;
	padding: 5px;
	margin-left: 140px;
}

.layy li a{
	text-decoration: none;
	color: #000;
}

.layy li a:hover{
	color: #fff;
}
.container{  
  background-color:#fff;
  height:500px;
  list-style: none;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font: 16px "Arial", sans-serif;
  width: 1310px;
}
