ul {
	margin:0;
	padding:0;
}

.mainbutton{
  background-color: #BFC9CA;
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;

}

.mainbutton li{
	display: inline-block;
	padding: 5px;
	margin-left: 140px;
}

.mainbutton li a{
	text-decoration: none;
	color: #000;
}

.mainbutton li a:hover{
	color: #fff;
}

#nb1{
	margin-right: 3%;
	margin-top: 22%;
	float: right;
	height: 80px;
}

#bb1{
	margin-left: 3%;
	margin-top: 22%;
	float: left;
	height: 80px;
}

