#container{
border-color:#BFC9CA;
    border-radius: 10px;
    border-style: solid;
    border-width:5px;
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 50px;
     background-color:#fff;
  list-style: none;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font: 16px "Arial", sans-serif;
  width: 1000px;
}
.mainbutton{
  background-color: #BFC9CA;
  list-style: none;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;
  width: 1310px;
}

.bbtn{
    background-color: #dc4343;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 150px;
    margin-left: 402px;
}

.bbtn a{
      color: white;
          text-decoration: none;
}

