ul {
	margin:0;
	padding:0;
}

.mainbutton{
  background-color: #BFC9CA;
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;
  width: 1310px;
}

.fpp{
    position: relative;
    bottom:440px;
    margin-left: 600px;
    font-family: Times new roman;
}

.mainbutton li{
	display: inline-block;
	padding: 5px;
	margin-left: 140px;
}

.mainbutton li a{
	text-decoration: none;
	color: #000;
}

.mainbutton li a:hover{
	color: #fff;
}

.whayt{
	background-color: white;
}

#nb1{
	margin-right: 3%;
	margin-top: 22%;
	float: right;
	height: 80px;
}

#bb1{
	margin-left: 3%;
	margin-top: 22%;
	float: left;
	height: 80px;
}


input[type=text]{
    width: 200px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    bottom:520px;
    left: 465px;
}

input[type=password] {
    width: 200px;
    padding: 12px 20px;
    position: relative;
    bottom:470px;
    left: 120px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn{
    background-color: #dc4343;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 150px;
    margin-left: 582px;;
    position:relative;
    bottom:440px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;  
}

span.psw {
    margin-left: 48.5%;
    padding-top: 16px;
    font:14px "Arial", sans-serif;
}

#lbl1{
	font: 18px "Trebuchet MS", sans-serif;
  position: relative;
  bottom: 520px;
	color: #2C3E50;
  left: 450px;
}
#lbl2{
	font: 18px "Trebuchet MS", sans-serif;
  position: relative;
  bottom: 470px;
  left: 100px;
	color: #2C3E50;
}