ul {
	margin:0;
	padding:0;
}

.mainbutton{
  list-style: none;
  text-align: right;
  text-decoration: none;
  color: #000;
  font: 17px "Torque Sense Regular",sans-serif;
  width: 100%;
  position:relative;
  bottom:145px;
}

.fpp{
    position: relative;
    bottom:240px;
    margin-left: 600px;
    font-family: Times new roman;
}
.drpcntnt{
    font: 17px "Gill Sans MT",sans-serif;
    display: none;
    position: absolute;
    left:940px;
    background-color:#E5E8E8;
    width: 140px;
    z-index: 1;
}

.drpcntnt a{
    text-align: center;
    display:none;
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
}

#abt:hover ~ .drpcntnt, .drpcntnt:hover{
    display: block;
}

.drpcntnt a:hover{
    background-color: #f1f1f1;
}
.mainbutton li{
	display: inline-block;
	padding: 25px 25px 25px 25px;
                       margin-right:20px;
}

.mainbutton li a{
	text-decoration: none;
	color: #000;
}

.mainbutton li:hover{
	background-color: #dc4343;
}

#nb1{
	margin-right: 3%;
	margin-top: 22%;
	float: right;
	height: 80px;
}

#bb1{
	margin-left: 3%;
	margin-top: 22%;
	float: left;
	height: 80px;
}


input[type=text]{
    width: 170px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    bottom:340px;
    left: 515px;
}

input[type=text]:focus,input[type=password]:focus{
    background-color: #F7F9F9;
}

input[type=password] {
    width: 170px;
    padding: 12px 20px;
    position: relative;
    bottom:270px;
    left: 209px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.loginbtn{
    background-color: #dc4343;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 150px;
    margin-left: 582px;;
    position:relative;
    bottom:240px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;  
}

span.psw {
    margin-left: 48.5%;
    padding-top: 16px;
    font:14px "Arial", sans-serif;
}

#lbl1{
  font: 18px "Bahnschrift", sans-serif;
  position: relative;
  bottom: 340px;
  color: #34495E;
  left: 500px;
}
#lbl2{
 font: 18px "Bahnschrift", sans-serif;
  position: relative;
  bottom: 270px;
  left: 190px;
color: #34495E;
}

#logo{
    margin-left:20px;
    height:70px;
   position:relative;
   bottom:70px;
}

#hdr{
    background-color: #f35a5a;
    height:70px;
    width:1350px;
    margin-top: -8px;
    margin-left:-10px;
}