.layy{  
 background-color: #85929E;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;
  width: 270px;
  height:800px;
  margin-left: 10px;
}

#picc{
    border-width:5px;
    border-color: white;
    border-style: solid;
    border-radius: 120px;
    margin-left: 20px;
    margin-top: 20px;
    width:220px;
    height:220px;
}
.layyy{
           text-align: center;
           margin-left: -9px;
}

.layyy li{
                      width:290px;
                      background-color: #EBEDEF;
	display: inline-block;
                      padding-top:10px;
                      padding-bottom: 10px;
                      border-style: solid;
                      border-width: 3px;
                      margin-top: 2px;
                      border-color:#34495E;
}

.layyy li a{
	text-decoration: none;
	color: #000;
}

.layyy li a:hover{
	color: #fff;
}
.container{  
    border-color:#85929E;
    border-style: solid;
    border-width:5px;
    margin-left: 300px;
    background-color:#fff;
    height:790px;
    list-style: none;
    text-align: left;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font: 16px "Arial", sans-serif;
    width: 990px;
    position:relative;
    bottom:820px;
    border-left: none;
}

.lg{
    background-color: #dc4343;
    border: none;
    width: 100px;
    margin-left: 402px;
    position:relative;
    left:819px; 
    bottom:110px;
}

.lg a{
    color:#D0D3D4;
    font-weight: bolder;
    font-size: 16px;
}

.lg a:hover{
    color:white;
}

#click{
    background-color:#34495E;
    color: #fff;
}

#brdr{
    border-color: #85929E;
    border-collapse:collapse;
    width:980px;
}
#brdr th{
    color:white;
    padding:10px;
    height:40px;
    border-width: 3px;
    border-color: #85929E;
    background-color:  #34495E  ;
    text-align: center;
    border-style: none;
}
#brdr td{
    background-color:#85929E;
}