body{
background-color: #dc4343;
}

#container{  
   border-color: #34495E;
    border-style: solid;
    border-width:5px;
    margin-left: 280px;
    background-color:#fff;
    height:800px;
    list-style: none;
    text-align: left;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font: 16px "Arial", sans-serif;
    width: 990px;
    position:relative;
    left:25px;
    bottom:830px;
}

.layy{  
    border-color: #34495E;
 background-color: #85929E;
  text-align: left;
  text-decoration: none;
  color: #000;
  padding:10px;
  font: 20px "Trebuchet MS", sans-serif;
  width: 270px;
  height:800px;
  margin-left: 10px;
  border-style: solid;
  border-width: 5px;
}

#picc{
    border-width:5px;
    border-color: white;
    border-style: solid;
    border-radius: 120px;
    margin-left: 20px;
    margin-top: 20px;
    width:220px;
    height:220px;
}
.layyy{
           text-align: center;
           margin-left: -14px;
}

.layyy li{
                      width:290px;
                      background-color: #EBEDEF;
	display: inline-block;
                      padding-top:10px;
                      padding-bottom: 10px;
                      border-style: solid;
                      border-width: 3px;
                      margin-top: 2px;
                      border-color:#34495E;
}

.layyy li a{
	text-decoration: none;
	color: #000;
}

.layyy li a:hover{
	color: #fff;
}

#sbmt{
        background-color: #dc4343;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 150px;
    
    margin-left: 402px;
}
.lg{
    background-color: #dc4343;
    border: none;
    width: 100px;
    margin-left: 402px;
    position:relative;
    left:819px; 
    bottom:110px;
}

.lg a{
    color:#D0D3D4;
    font-weight: bolder;
    font-size: 16px;
}

.lg a:hover{
    color:white;}

#click{
    background-color:#34495E;
    color: #fff;
}

#lbl{
     margin-left: 100px;
    font: 20px "Bahnschrift", sans-serif;
}

input[type=text],select{
    border-radius: 4px;
    height:30px;
    width:350px;
    border-width: 2px;}